.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  place-items: center;
  place-content: center;
  gap: 1rem;
 margin: 5px;

}
.projetos-box{
  border-radius: 3px;
  border: 1px solid #222329;
  background-color:#26272e;
  width: 270px;
  height: 300px;
}
.projetos-box p{
  margin: 0.8em;
}
.projetos-img{
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  border-radius: 3px;
}
.description{
  font-size: .8em;
  font-weight: 300;
}

.inline-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}