@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");
:root {
  --bckgrd-color-default: #21232b;
  --bckgrd-color-secondary: #2c2e36;
  --bckgrd-color-third: #202125;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", "Tahoma", sans-serif;
  color: #eeeaea;
}
body {
  background-color: var(--bckgrd-color-default);
  width: 100%;
}
nav {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
p {
  margin: 1em;
}
#nav-email {
  margin-left: 1.8vw;
  font-size: 1em;
  font-weight: 400;
}
#name {
  font-size: 3.5em;
  font-weight: bold;
}
#dev {
  font-size: 1.4em;
  font-weight: lighter;
}
.nav-buttons {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.inline {
  width: fit-content;
  display: inline;
}
.main-block {
  height: 90vh;
  display: grid;
  place-items: center;
  place-content: center;
}
.name-bio {
  width: 50vw;
  text-align: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.flex-row {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.skill-main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.skill-main-block h1 {
  font-size: 2.5em;
  margin: 2em;
}
.skill-box-container {
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70vw;
  height: 44vh;
}
.skill-box {
  background-color: var(--bckgrd-color-secondary);
  width: 250px;
  height: 320px;
  text-align: center;
  border: 1px solid white;
}
.skill-box h2 {
  border-bottom: 1px solid white;
}
.skill-box h3 {
  font-weight: 500;
  margin: 1em;
}
.skills-column {
  padding: 1.5em;
}
.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.exp {
  width: 100%;
  background-color:var(--bckgrd-color-secondary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exp-ul {
  width: 40vw;
}
.exp h1{
  margin: 1em;
}
ul{
  text-align: center;
}
li {
  color: white;
  list-style: none;
  font-size: 1.2em;
  padding-bottom: 1em;
}
.next-steps{
  margin-bottom:1em;
  text-align: center;
}
.next-steps h1{
  margin: 1em;
}